.promo{
    max-width:900px;
    margin:auto;
    text-align:center;
    padding:50px 20px;
}

.promo h1{
    font-size:48px;
    margin-bottom:20px;
    color:#00ff88;
    text-shadow:0 0 20px #00ff88;
}

.promo h2{
    margin-top:30px;
    margin-bottom:20px;
}

.promo p{
    font-size:20px;
    line-height:1.8;
    margin-bottom:20px;
}

.buy-btn{
    display:inline-block;
    padding:22px 45px;
    background:#00c853;
    color:white;
    text-decoration:none;
    border-radius:15px;
    font-size:26px;
    font-weight:bold;
    transition:.3s;
}

.buy-btn:hover{
    transform:scale(1.08);
    background:#00e676;
}
