*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#090909;

font-family:Arial,Helvetica,sans-serif;

display:flex;

justify-content:center;
align-items:center;

min-height:100vh;

color:white;

}

.container{

width:100%;
max-width:450px;

background:#151515;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:
0 0 30px rgba(0,0,0,.4);

}

h1{

margin-bottom:15px;

color:#00ff88;

}

.subtitle{

color:#aaa;

margin-bottom:25px;

}

input{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

border-radius:10px;

font-size:16px;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:18px;

font-weight:bold;

margin-top:10px;

}

#registerBtn{

background:#2196f3;

color:white;

}

#loginBtn{

background:#00ff88;

color:black;

}

#message{

margin-top:20px;

min-height:25px;

font-weight:bold;

}

.back-btn{

display:inline-block;

margin-top:25px;

color:#00ff88;

text-decoration:none;

font-weight:bold;

}

.back-btn:hover{

text-decoration:underline;

}
