*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#090909;
color:white;
font-family:Arial,Helvetica,sans-serif;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.container{
width:100%;
max-width:700px;
}

h1{
text-align:center;
margin-bottom:30px;
font-size:48px;
color:#00ff88;
}

.card{
background:#151515;
padding:30px;
border-radius:20px;
border:1px solid #222;
}

.row{
display:flex;
justify-content:space-between;
padding:15px 0;
border-bottom:1px solid #222;
}

.row:last-child{
border-bottom:none;
}

.row span{
color:#999;
}

.row strong{
color:white;
}

.back-btn{
display:block;
margin-top:25px;
text-align:center;
padding:15px;
background:#00ff88;
color:black;
text-decoration:none;
border-radius:12px;
font-weight:bold;
}

.back-btn:hover{
opacity:.9;
}
#wins{
color:#00ff88;
}

#losses{
color:#ff5555;
}

#winrate{
color:gold;
}

#rank{
font-weight:bold;
font-size:18px;
}

#games{
color:#00d9ff;
}
